body {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

h2 {
    margin: 50px 0 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background: #333;
    color: white;
}

img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}